Practica1/.classpath
Practica1/.project
Practica1/.settings/org.eclipse.core.resources.prefs
Practica1/.settings/org.eclipse.jdt.core.prefs
Practica1/.gitignore
Practica2/.classpath
Practica2/.project
Practica2/.settings/org.eclipse.core.resources.prefs
Practica2/.settings/org.eclipse.jdt.core.prefs
Practica2/.gitignore
Practica3/.classpath
Practica3/.project
Practica3/.settings/org.eclipse.core.resources.prefs
Practica3/.settings/org.eclipse.jdt.core.prefs
Practica3/.gitignore